@import url("https://fonts.googleapis.com/css?family=Roboto");

.landingPageWrapper {
  align-items: center;
  /* background-color: black; */
  background-color: white;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.helloWorld {
  /* color: white; */
  color: black;
  display: flex;
  font-size: 28px;
  padding-top: 16px;
  justify-content: center;
}

.mainContentWrapper {
  background-color: white;
  box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.34);
  border-radius: 10px;
  padding: 0px 12px;
}

.title {
  color: #1ed760;
  display: flex;
  font-family: AWConquerorFreInline, Arial, Serif;
  font-size: 44px;
  justify-content: center;
}

.description {
  /* color: white; */
  color: black;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 22px;
  max-width: 300px;
  margin: 0px auto;
  padding: 16px 8px;
  text-align: center;
}

.bolded {
  font-weight: 700;
  margin: 0px -5px;
}

/* bottom right */
.keyboardSVG {
  bottom: -40px;
  height: 150px;
  margin-top: -180px;
  margin-left: -180px;
  position: absolute;
  right: -40px;
  transform: rotate(-45deg);
  width: 150px;
}

/* top right */
.pencilSVG {
  height: 120px;
  position: absolute;
  right: -20px;
  transform: rotate(0deg);
  top: -20px;
  width: 120px;
  z-index: 0;
}

/* bottom left */
.chemistrySVG {
  bottom: -60px;
  height: 170px;
  position: absolute;
  left: 30px;
  margin-left: -80px;
  transform: rotate(45deg);
  width: 170px;
}

/* top left */
.musicSVG {
  height: 170px;
  position: absolute;
  left: 20px;
  margin-top: -60px;
  margin-left: -60px;
  transform: rotate(135deg);
  top: 20px;
  width: 170px;
}

@font-face {
  font-family: "AWConquerorFreInline";
  src: local("AWConquerorFreInline"),
    url("../../font/AWConquerorFreInline-Regular.otf") format("opentype");
}

@media (min-width: 450px) {
  .title {
    color: #1ed760;
    font-family: AWConquerorFreInline, Arial, Serif;
    font-size: 64px;
  }

  .helloWorld {
    /* color: white; */
    color: black;
    font-size: 40px;
  }

  .mainContentWrapper {
    background-color: white;
    box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.34);
    border-radius: 10px;
    padding: 0px 20px;
  }

  .description {
    /* color: white; */
    color: black;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;
    padding: 20px 12px;
    text-align: center;
  }

  /* bottom right */
  .keyboardSVG {
    bottom: -120px;
    height: 420px;
    margin-left: -180px;
    position: absolute;
    right: -100px;
    transform: rotate(-45deg);
    width: 420px;
  }

  /* top right */
  .pencilSVG {
    height: 300px;
    position: absolute;
    right: -20px;
    transform: rotate(0deg);
    top: -20px;
    width: 300px;
  }

  /* bottom left */
  .chemistrySVG {
    bottom: -80px;
    height: 420px;
    position: absolute;
    left: 0px;
    transform: rotate(45deg);
    width: 400px;
  }

  /* top left */
  .musicSVG {
    height: 370px;
    position: absolute;
    left: -10px;
    margin-top: -80px;
    margin-left: -80px;
    transform: rotate(135deg);
    top: -10px;
    width: 370px;
  }
}
