/* bottom right */
.keyboardSVG {
  bottom: -40px;
  height: 150px;
  margin-top: -180px;
  margin-left: -180px;
  position: absolute;
  right: -40px;
  transform: rotate(-45deg);
  width: 150px;
}

/* top right */
.pencilSVG {
  height: 120px;
  position: absolute;
  right: -20px;
  transform: rotate(0deg);
  top: -20px;
  width: 120px;
  z-index: 0;
}

/* bottom left */
.chemistrySVG {
  bottom: -60px;
  height: 170px;
  position: absolute;
  left: 30px;
  margin-left: -80px;
  transform: rotate(45deg);
  width: 170px;
}

/* top left */
.musicSVG {
  height: 170px;
  position: absolute;
  left: 20px;
  margin-top: -60px;
  margin-left: -60px;
  transform: rotate(135deg);
  top: 20px;
  width: 170px;
}

@media (min-width: 450px) {
  /* bottom right */
  .keyboardSVG {
    bottom: -120px;
    height: 420px;
    margin-left: -180px;
    position: absolute;
    right: -100px;
    transform: rotate(-45deg);
    width: 420px;
  }

  /* top right */
  .pencilSVG {
    height: 300px;
    position: absolute;
    right: -20px;
    transform: rotate(0deg);
    top: -20px;
    width: 300px;
  }

  /* bottom left */
  .chemistrySVG {
    bottom: -80px;
    height: 420px;
    position: absolute;
    left: 0px;
    transform: rotate(45deg);
    width: 400px;
  }

  /* top left */
  .musicSVG {
    height: 370px;
    position: absolute;
    left: -10px;
    margin-top: -80px;
    margin-left: -80px;
    transform: rotate(135deg);
    top: -10px;
    width: 370px;
  }
}
