.iconsWrapper {
  padding-bottom: 20px;
}

.icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 12px;
}

.icon {
  color: #1ed760;
  font-size: 40px;
  margin: 0px 10px;
  z-index: 1;
}

.icon:active {
  color: #1ed760;
  font-size: 40px;
}

.icon:link {
  color: #1ed760;
  font-size: 40px;
}

.icon:visited {
  color: #1ed760;
  font-size: 40px;
}

.icon:hover {
  color: black;
  cursor: pointer;

  -webkit-animation: spin 0.5s linear;
  -moz-animation: spin 0.5s linear;
  animation: spin 0.5s linear;
}

.hoverText {
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  margin: 8px auto;
  max-width: 320px;
  text-align: center;
}

/* CSS animations to make icons spin. */

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
