@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}
