@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.landingPageWrapper {
  align-items: center;
  background-color: black;
  background-image: url("../../images/jpg/astronaut\ jellyfish.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
}

.helloWorld {
  color: black;
  display: flex;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 28px;
  padding-bottom: 12px;
  padding-top: 24px;
  justify-content: center;
}

.mainContentWrapper {
  background-color: white;
  box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.34);
  border-radius: 10px;
  height: 554px;
  opacity: 0.9;
  padding: 0px 12px;
  z-index: 1;
}

.notfoundgif {
  border-radius: 50%;
  display: flex;
  height: 280px;
  justify-content: center;
  margin: 20px auto 0 auto;
  overflow: hidden;
  width: 280px;
}

.notfoundgif img {
  display: inline;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  width: auto;
}

.notfoundloader {
  display: flex;
  justify-content: center;
}

.title {
  color: #1ed760;
  display: flex;
  font-family: AWConquerorFreInline, Arial, Serif;
  font-size: 44px;
  justify-content: center;
}

.description {
  color: black;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 22px;
  max-width: 300px;
  margin: 0px auto;
  padding: 8px 8px;
  text-align: center;
}

.bolded {
  font-weight: 700;
  margin: 0px -5px;
}

@font-face {
  font-family: "AWConquerorFreInline";
  src: local("AWConquerorFreInline"),
    url("../../font/AWConquerorFreInline-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("https://fonts.googleapis.com/css?family=Roboto");
}

@media (min-width: 450px) {
  .notfoundgif {
    border-radius: 50%;
    display: flex;
    height: 280px;
    justify-content: center;
    margin: 20px auto 0 auto;
    overflow: hidden;
    width: 280px;
  }

  .notfoundgif img {
    display: inline;
    height: 100%;
    margin: 0 auto;
    width: auto;
  }

  .notfoundloader {
    display: flex;
    justify-content: center;
  }

  .title {
    color: #1ed760;
    font-family: AWConquerorFreInline, Arial, Serif;
    font-size: 64px;
  }

  .helloWorld {
    color: black;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 40px;
  }

  .mainContentWrapper {
    background-color: white;
    box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.52);
    border-radius: 10px;
    height: 554px;
    opacity: 0.9;
    padding: 8px 32px;
    z-index: 1;
  }

  .description {
    color: black;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 22px;
    max-width: 360px;
    padding: 8px 8px;
    text-align: center;
  }
}
